[Unit]
Description="ChatShare Application"
After=network.target

[Service]
Type=simple
User=minecraft
WorkingDirectory=/srv/minecraft/chatsharepy
EnvironmentFile=-/srv/minecraft/chatsharepy/.env
ExecStart=/srv/minecraft/chatsharepy/venv/bin/python -m src.chatshare
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target