[Unit]
Description="ChatShare Application"
After=network.target

[Service]
Type=simple
User=minecraft
WorkingDirectory=/opt/projects/chatshare
EnvironmentFile=-/opt/projects/chatshare/.env
ExecStart=/opt/projects/chatshare/venv/bin/python -m src.chatshare
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target