pylint==3.3.7
docker==7.1.0
dotenv-python==0.0.1
pyauto-dotenv==0.1.0
python-dotenv~=1.1.1
pip~=25.1.1
dill~=0.4.0
isort~=6.0.1
requests~=2.32.4
urllib3~=2.5.0
astroid~=3.3.10
tomlkit~=0.13.3
mccabe~=0.7.0
platformdirs~=4.3.8
certifi~=2025.6.15
idna~=3.10
charset-normalizer~=3.4.2